body {
  background-color: white;
}

#row1 {
  padding: 10px;
}

#row2 {
  align-content: center;
}

.col-3 {
  color: black;
  text-align: center;
}

#highScore {
  color: black;
}

.display {
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: plum;
}

.lead {
  text-align: center;
}

.jumbotron {
  background-color: navy;
  height: 270px;
}

.buttonRow {
  justify-content: center;
  padding: 5px;
}

.card {
  background-color: white;
}

.col-4 {
  text-align: -webkit-center;
}

#questionsCard {
  display: none;
}

#correctIncorrect {
  font-size: xx-large;
}

#buttonInitials {
  display: none;
}

#inlineFormInput {
  display: none;
  width: 30%;
}

#highRow {
  padding: 10px;
}

#theTottaly {
  color: #fff200;
}

#header {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}
